$ml-yellow: #FFE600;
$ml-blue: #3483FA;
$ml-light-grey: #EEEEEE;
$ml-grey: #999999;
$ml-dark-grey: #666666;
$ml-darker-grey: #333333;
$ml-white: #FFF;
$ml-margin: 16px;
$ml-margin-md: 16px;
$ml-padding: 32px;
$ml-font-size-xl: 46px;
$ml-font-size-l: 24px;
$ml-font-size-md: 28px;
$ml-font-size-s: 16px;
$ml-font-size-xs: 14px;