.buy-now {
    @media (max-width: 800px) {
        padding: $ml-padding 10px 10px 10px;
        .price-container {
            .price-amount {
                font-size: $ml-font-size-xl;
            }
        }
    }
    @media (min-width: 900px) {
        padding: $ml-padding $ml-padding 0 0;
        .price-amount {
            font-size: $ml-font-size-xl;
        }
    }
    .price-container {
        padding: $ml-padding 0;
        sup {
            font-size: 20px;
            vertical-align: super;
        }
    }
    .item-condition {
        font-size: $ml-font-size-xs;
        margin: 0 0 $ml-margin-md 0
    }
    .item-title {
        font-size: $ml-font-size-l;
        font-weight: bold;
    }
    .buy-now-btn {
        background-color: $ml-blue;
        color: $ml-white;
        width: 100%;
    }
}